@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima-Nova-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima-Nova-Semibold.woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima-Nova-Bold.woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroylight.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroyextrabold.woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url("GothamPro-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

